@model Manager.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<link href="~/Content/CSS/RegistrationPagee.css" rel="stylesheet" />





@using (Html.BeginForm())

{

    @Html.AntiForgeryToken()

<div id="Login">
    <p class="heading">Login</p>
    <div class="form-horizontal">

        <div class="input-name">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Name", @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="input-pass">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="login">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
    <br />
    <div>
        <button id="middel">@Html.ActionLink("Sign Up", "Registration", "Registration")</button>
    </div>

</div>
}





