@model Manager.Models.User

@{
    ViewBag.Title = "Registration";
}
<link href="~/Content/CSS/RegistrationPagee.css" rel="stylesheet" />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="Login2">
        <p class="heading">Registration</p>

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="input">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "First Name", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>



            <div class="input">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { placeholder = "Last Name", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>


            <div class="input">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>



            <div class="input">
                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { placeholder = "Mobile Number", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
            </div>



            <div class="input-type">
                @Html.DropDownListFor(model => model.Type, new List<SelectListItem>(){
                  new SelectListItem() { Text = "Admin" },
                  new SelectListItem() { Text = "User" }}, "User Type")

            </div>


            <div class="input">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="input">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {  @class = "text-danger" })
            </div>




            <div class="button">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <br />
            <div>
                <button id="middel" >@Html.ActionLink("Cancel", "Login", "Login")</button>
            </div>

        </div>
    </div>
}
<br />





